<div class="modal">
  <button (click)="closeModal()">Закрыть</button>
  <div *ngIf="loading">Загрузка...</div>
  <div *ngIf="weather">
    <p>Город: {{ weather.data?.city }}</p>
    <p>Температура: {{ weather.data?.current?.weather?.tp }}°C</p>
    <!-- <pre>{{ weather | json }}</pre> -->
    <!-- Json При желании можно включить json (отладочная информация)-->
  </div>

  <h3>Выберите точку</h3>
  <ul>
    <li *ngFor="let loc of locations">
      <button (click)="loadWeather(loc)">{{ loc.name }}</button>
    </li>
  </ul>
</div>
