<section>
  <h2>Мои успехи в Angular</h2>
  <p>Сегодня: {{ today | date:'fullDate' }}</p>

  <ul>
    <li *ngFor="let a of achievements">
      <span *ngIf="a.status === 'done'">✔</span>
      <span *ngIf="a.status === 'inProgress'">⏳</span>
      <span *ngIf="a.status === 'todo'">❌</span>

      {{ a.title }}

      <span [ngSwitch]="a.type">
        <strong *ngSwitchCase="'main'">[Основное]</strong>
        <em *ngSwitchCase="'extra'">[Дополнительно]</em>
      </span>

      <!-- Показываем уровень достижения с кастомным pipe -->
      - Уровень: {{ a.level | levelEmoji }}
    </li>
  </ul>
</section>
